html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: sans-serif;
}

#content {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    font-size: 1.2rem;
}

/* Sidebar Section */
.sidebar {
    background-color: lightgrey;
    width: 250px;
    padding: 1rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding-bottom: 12px;
}

/* Main Section */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    padding: 48px 24px;
    justify-content: center;
    gap: 24px;
}

.task {
    border: 1px solid black;
    padding: 12px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.task-title {
    font-weight: bold;
    padding-bottom: 8px;
}